<!DOCTYPE html>
<html lang="<% if (lng === 'en') { %>en<% } else { %>es<% } %>">
<head>
	<title>COVID-WS</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;400;600;700&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" href="style.css">
</head>
<body class="<%= high_contrast ? 'highContrast' : '' %>">
	<header class="<%= high_contrast ? 'highContrast' : '' %>">
		<div onclick="window.location.href='\'" class="title">COVID-WS</div>
		<div class="languages">
			<a <% if (lng === 'en') { %>class="active" <% } %> href="/?lng=en"><%= t('languages.english') %></a> |
			<a <% if (lng === 'es') { %>class="active" <% } %> href="/?lng=es"><%= t('languages.spanish') %></a>
		</div>
		<div class="userblock">
			<div class="user">
				<img src="http://placekitten.com/40/40" alt="Kitten2">
				<div class="name"><%= name %></div>
			</div>
			<button class="secondary" onclick="window.location.href='/logout'"><%= t('header.logout') %></button>
		</div>		
	</header>
	<section>
		<article class="main confirmation">

			<% if(order === 'PCR'){ %>
				<h1><%= t('cite_request.PCR.title',{ name: name }) %></h1>				
				<h2><%- t('cite_request.PCR.subtitle1',{ date: global.citeDate }) %></h2>				
				<p><%= t('cite_request.PCR.p1',{ email: email }) %></p>
			<% global.PCR = true; } %>
			<% if(order === 'RT'){ %>
				<h1><%= t('cite_request.RT.title',{ name: name }) %></h1>				
				<h2><%- t('cite_request.RT.subtitle1',{ date: global.citeDate }) %></h2>				
				<p><%= t('cite_request.RT.p1',{ email: email }) %></p>
			<% global.RT = true; } %>
			<% if(order === 'masks'){ %>
				<h1><%= t('cite_request.masks.title',{ name: name }) %></h1>				
				<h2><%- t('cite_request.masks.subtitle1',{ date: global.citeDate }) %></h2>				
				<p><%= t('cite_request.masks.p1',{ email: email }) %></p>
			<% global.masks = true; } %>
			<button onclick="window.location.href='/'"><%= t('actions.back_main') %></button>
		</article>			
	</section>
	<footer>
		<a href="\privacy_policy"><%= t('footer.privacy_policy') %></a>
		<span><%= t('footer.imagesFrom') %> <a href="https://cocomaterial.com/" target="_blank">Cocomaterial</a></span>
	</footer>
</body>
</html>