<!DOCTYPE html>
<html lang="en">
<head>
	<title>COVID-WS</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;400;600;700&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" href="style.css">
</head>
<body class="<%= high_contrast ? 'highContrast' : '' %>">

	<header class="<%= high_contrast ? 'highContrast' : '' %>">
		<div onclick="window.location.href='\'" class="title">COVID-WS</div>
		<div class="languages">
			<a <% if (lng === 'en') { %>class="active" <% } %> href="/?lng=en"><%= t('languages.english') %></a> |
			<a <% if (lng === 'es') { %>class="active" <% } %> href="/?lng=es"><%= t('languages.spanish') %></a>
		</div>
		<div class="userblock">
			<div class="user">
				<img src="http://placekitten.com/40/40" alt="Kitten2">
				<div class="name"><%= name %></div>
			</div>
			<button class="secondary" onclick="window.location.href='/logout'"><%= t('header.logout') %></button>
		</div>		
	</header>

	<section>
		<article class="main confirmation">

			<% if(order === 'PCR'){ %>
				<h1><%= name %>, ha solicitado un test PCR </h1>				
				<h2>Un miembro del personal sanitario acurdirá a su domicilio el día (fecha) a las 12:00h para tomar la muestra.</h2>				
				<p>Recibirá un email en el correo <%= email %> con la confirmación de esta cita</p>
			<% global.PCR = true; } %>
			<% if(order === 'RT'){ %>
				<h1><%= name %>, ha solicitado un test rápido </h1>				
				<h2>Un miembro del personal sanitario acurdirá a su domicilio el día (fecha) a las 12:00h para tomar la muestra e indicarle los resultados.</h2>				
				<p>Recibirá un email en el correo <%= email %> con la confirmación de esta cita</p>
			<% global.RT = true; } %>
			<% if(order === 'masks'){ %>
				<h1><%= name %>, ha solicitado 10 mascarillas N95 + 1 bote de gel hidroalcohólico</h1>				
				<h2>Un repartidor acurdirá a su domicilio el día (fecha) para entregarle las mascarillas y el gel</h2>				
				<p>Recibirá un email en el correo <%= email %> con la confirmación de esta solicitud</p>
			<% global.masks = true; } %>
			<button onclick="window.location.href='/'"><%= t('actions.back_main') %></button>
		</article>			
	</section>
	<footer>
		<a href="\privacy_policy"><%= t('footer.privacy_policy') %></a>
		<span><%= t('footer.imagesFrom') %> <a href="https://cocomaterial.com/" target="_blank">Cocomaterial</a></span>
	</footer>
</body>
</html>