<!DOCTYPE html>
<html lang="en">
<head>
	<title>Static Website | response 1</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="style.css">
</head>
<body class="<%= high_contrast ? 'highContrast' : '' %>">

	<nav class="<%= high_contrast ? 'highContrast' : '' %>">
		<div onclick="window.location.href='\'" class="title">COVID web service</div>
		<div class="userblock">
			<div class="user">
				<img src="http://placekitten.com/40/40" alt="Kitten2">
				<div class="name"><%= name %></div>
			</div>
			<button onclick="window.location.href='\logout'">Log out</button>
		</div>
		
	</nav>
	


	<script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
	<df-messenger
		class="<%= high_contrast ? 'highContrast' : '' %>"
		chat-icon="images/chatbot64.png"
		intent="WELCOME"
		chat-title="COVIBot"
		agent-id="99eb627f-4948-4ea8-93c2-921fff46ac88"
		language-code="en"
	></df-messenger>
	<!--<img class="headerimg" src="http://placekitten.com/1200/250" alt="Kitten"/>-->
	<img class="headerimg" src="images/stayhome-glen-carrie.jpg" alt="Stay home"/>
	<article>
		<h1>Welcome to this COVID service</h1>
		<!--
		<div class="author">
			<div class="imgauthor">
				<img src="http://placekitten.com/50/50" alt="Kitten2">
			</div>
			<div class="data">
				<div class="name">Pepe Pruebas</div>
				<div class="metadata">Jun 20 · 3 min read</div>
			</div>
			
		</div>
		-->
		
		
		<p>Morbi massa ipsum, ullamcorper at libero in, cursus auctor ex. Aliquam eget quam nec nulla sagittis finibus. Donec fringilla gravida arcu id mattis. Sed arcu risus, viverra ut enim nec, pharetra varius massa. Pellentesque gravida leo in odio rutrum, eget consequat leo laoreet. Nullam fringilla vel arcu et vulputate. Duis diam mi, mattis eu semper sed, maximus vel mi. In auctor imperdiet erat, eu ullamcorper leo lobortis quis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent consequat ligula sed risus ornare, sit amet cursus leo posuere. Praesent ornare sollicitudin fermentum. Suspendisse auctor, libero ut tristique bibendum, orci tortor lobortis massa, nec ultrices augue neque ut leo. Aenean vel malesuada metus.</p>
		<p>Aenean vitae porttitor nisl. Aliquam erat volutpat. Etiam efficitur urna euismod porta lobortis. Pellentesque elementum mauris augue, id feugiat enim eleifend eu. Quisque tempor, tortor ac ultrices commodo, erat erat suscipit lorem, sit amet volutpat sapien quam vel dui. Morbi porttitor leo at nulla tincidunt, at ultrices neque rhoncus. Aliquam eget sollicitudin neque. Praesent blandit justo id nibh sagittis, sed varius libero mollis. Morbi tincidunt lectus ut bibendum bibendum. Quisque eleifend risus quis velit condimentum consequat. Integer sagittis libero ut orci varius vulputate. Duis sed purus dapibus dolor dapibus ultrices sed a leo. Fusce molestie leo eget velit dignissim rutrum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam sit amet porta enim, ac tristique tellus.</p>
		<p>Suspendisse pharetra feugiat nulla id pulvinar. Ut consequat eget sapien eget commodo. Proin hendrerit odio non ante consectetur, pulvinar porta sapien eleifend. Praesent auctor ex vitae purus rutrum, faucibus venenatis magna bibendum. Integer scelerisque ornare est, eu iaculis urna tincidunt id. Cras in tincidunt odio. Sed quis elit vestibulum, egestas urna quis, molestie massa. Mauris imperdiet, nulla vel tempor cursus, justo dui faucibus nunc, vitae aliquam nisi nunc eget lacus. Aenean egestas at ipsum eu sollicitudin. Vestibulum magna turpis, volutpat et quam a, sagittis pellentesque ante. </p>
		<!--
			Welcome <%= name %>  <br> Your email address is <%= email %> <br><br>
			
		-->
		<!--
		<div class="comments">
			<form action="">
				<label for="comments">Comments</label>
				<textarea name="comments" id="comments" rows="10"></textarea>
				<button>Publish</button>
			</form>
		</div>
		-->
	</article>
	<footer>
		<a href="\privacy_policy">Privacy policy</a>
	</footer>
</body>
</html>