<!DOCTYPE html>
<html lang="en">
<head>
	<title>COVID-WS</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;400;600;700&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" href="style.css">
</head>
<body class="<%= high_contrast ? 'highContrast' : '' %>">

	<header class="<%= high_contrast ? 'highContrast' : '' %>">
		<div onclick="window.location.href='\'" class="title">COVID-WS</div>
		<div class="languages">
			<a <% if (lng === 'en') { %>class="active" <% } %> href="/?lng=en"><%= t('languages.english') %></a> |
			<a <% if (lng === 'es') { %>class="active" <% } %> href="/?lng=es"><%= t('languages.spanish') %></a>
		</div>
		<div class="userblock">
			<div class="user">				
				<div class="name"><%= name %></div>
			</div>
			<button class="secondary" onclick="window.location.href='\logout'"><%= t('header.logout') %></button>
		</div>		
	</header>
	<nav>
		<button
			<%= global.PCR ? 'disabled' : '' %>			 
			class="marginRight" 
			onclick="window.location.href='\confirmation?order=PCR'">
			<%= t('actions.orderPCR') %></button>
		<button
			<%= global.RT ? 'disabled' : '' %>			 
			class="marginRight" 
			onclick="window.location.href='\confirmation?order=RT'">
			<%= t('actions.orderRT') %></button>
		<button
			<%= global.masks ? 'disabled' : '' %>			 
			class="marginRight" 
			onclick="window.location.href='\confirmation?order=masks'">
			<%= t('actions.orderClothFace') %></button>				
	</nav>
	<section>
		<article class="main">		
			<h1><%= t('home.title') %></h1>
			<h2><%= t('response1.subtitle1') %></h2>	
			<p><%- t('home.p2') %></p>	
			<p><%- t('home.p3') %></p>			
			<h2><%= t('response1.subtitle2') %></h2>	
			<p><%- t('response1.p1') %></p>						
			<h2><%= t('response1.subtitle3') %></h2>
			<p><%- t('home.p4') %></p>
			
		</article>			
	</section>
	<footer>
		<a href="\privacy_policy"><%= t('footer.privacy_policy') %></a>
		<span><%= t('footer.imagesFrom') %> <a href="https://cocomaterial.com/" target="_blank">Cocomaterial</a></span>
	</footer>
</body>
</html>