<!DOCTYPE html>
<html lang="<% if (lng === 'en') { %>en<% } else { %>es<% } %>">
<head>
	<title>COVID-WS</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;400;600;700&display=swap"
		rel="stylesheet">
	<link rel="stylesheet" href="style.css">
</head>

<body>

	<header>
		<div class="title">COVID-WS</div>
		<div class="languages">
			<a <% if (lng === 'en') { %>class="active" <% } %> href="/?lng=en"><%= t('languages.english') %></a> |
			<a <% if (lng === 'es') { %>class="active" <% } %> href="/?lng=es"><%= t('languages.spanish') %></a>
		</div>
		<div class="userblock">
			<div class="user">
				<img src="http://placekitten.com/40/40" alt="Kitten2">
				<div class="name"><%= name %></div>
			</div>
			<button onclick="window.location.href='\logout'"><%= t('header.logout') %></button>
		</div>
	</header>
	<nav>
		<button
			<%= global.PCR ? 'disabled' : '' %>			 
			class="marginRight" 
			onclick="window.location.href='\confirmation?order=PCR'">
			<%= t('actions.orderPCR') %></button>
		<button
			<%= global.RT ? 'disabled' : '' %>			 
			class="marginRight" 
			onclick="window.location.href='\confirmation?order=RT'">
			<%= t('actions.orderRT') %></button>
		<button
			<%= global.masks ? 'disabled' : '' %>			 
			class="marginRight" 
			onclick="window.location.href='\confirmation?order=masks'">
			<%= t('actions.orderClothFace') %></button>
		
		<button class="marginRight" onclick="toggleBot()">
			<svg aria-labelledby="help" class="icon" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
				<title id="help">Botón de ayuda</title>
				<path d="m512 346.5c0-74.628906-50.285156-139.832031-121.195312-159.480469-4.457032-103.878906-90.347657-187.019531-195.304688-187.019531-107.800781 0-195.5 87.699219-195.5 195.5 0 35.132812 9.351562 69.339844 27.109375 99.371094l-26.390625 95.40625 95.410156-26.386719c27.605469 16.324219 58.746094 25.519531 90.886719 26.90625 19.644531 70.914063 84.851563 121.203125 159.484375 121.203125 29.789062 0 58.757812-7.933594 84.210938-23.007812l80.566406 22.285156-22.285156-80.566406c15.074218-25.453126 23.007812-54.421876 23.007812-84.210938zm-411.136719-15.046875-57.117187 15.800781 15.800781-57.117187-3.601563-5.632813c-16.972656-26.554687-25.945312-57.332031-25.945312-89.003906 0-91.257812 74.242188-165.5 165.5-165.5s165.5 74.242188 165.5 165.5-74.242188 165.5-165.5 165.5c-31.671875 0-62.445312-8.972656-89.003906-25.945312zm367.390625 136.800781-42.382812-11.726562-5.660156 3.683594c-21.941407 14.253906-47.433594 21.789062-73.710938 21.789062-58.65625 0-110.199219-37.925781-128.460938-92.308594 89.820313-10.355468 161.296876-81.832031 171.65625-171.65625 54.378907 18.265625 92.304688 69.808594 92.304688 128.464844 0 26.277344-7.535156 51.769531-21.789062 73.710938l-3.683594 5.660156zm0 0"/><path d="m180.5 271h30v30h-30zm0 0"/><path d="m225.5 150c0 8.519531-3.46875 16.382812-9.765625 22.144531l-35.234375 32.25v36.605469h30v-23.394531l25.488281-23.328125c12.398438-11.347656 19.511719-27.484375 19.511719-44.277344 0-33.085938-26.914062-60-60-60s-60 26.914062-60 60h30c0-16.542969 13.457031-30 30-30s30 13.457031 30 30zm0 0"/>
			</svg>			
		</button>	
	</nav>
	
	<section>
		<article class="main">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 178.49858 258.58151" height="168.58151mm"
				width="88.49858mm">
				<path
					d="m 13500.186,8397.3735 c -8.409,4e-4 -15.225,6.594 -15.224,14.7269 0,8.1328 6.815,14.7262 15.224,14.7266 8.411,0 15.231,-6.5915 15.23,-14.7266 0,-8.1352 -6.819,-14.7297 -15.23,-14.7269 z m 3.703,86.0258 c -43.859,0.2792 -87.868,3.9172 -131.734,4.3265 l 1.99,142.2625 c 66.346,25.8141 162.782,24.5494 254.583,27.4542 l 5.991,-158.233 c -43.258,-13.0135 -86.967,-16.0911 -130.83,-15.8102 z m -148.915,193.2015 c -170.934,40.8355 -179.87,123.8052 -172.359,231.3562 -22.069,30.4841 -49.874,57.7432 -10.399,76.6879 23.411,12.1571 37.06,-6.6047 54.53,-13.2658 -41.062,-46.8511 57.298,-62.7001 33.9,0 11.681,-4.7935 27.115,-3.5768 33.897,-16.2085 8.878,-41.0953 4.19,-69.7619 -33.897,-67.8044 -0.447,-58.5824 -34.848,-131.2351 88.434,-138.544 l -1.431,191.7127 c -1.51,54.329 33.148,33.6956 57.082,56.7051 l 6.255,207.0194 c -31.71,23.4852 -56.284,51.2821 -58.46,85.2568 34.19,6.5785 61.037,119.7661 97.56,28.6354 15.212,-23.1884 27.014,-14.5744 39.013,-7.7719 16.283,11.1007 30.912,34.0273 54.541,-7.3669 l 33.295,-1.1462 c 14.644,65.002 70.434,83.4901 74.299,5.5636 l 25.05,-7.3668 c 6.209,-45.5983 -26.582,-67.2877 -53.056,-92.8545 -15.721,-68.7825 -25.19,-201.6605 -47.166,-206.3484 23.708,-8.9708 47.438,-18.157 72.223,-36.8483 15.478,17.2785 32.429,19.1161 50.115,13.2658 -9.663,-65.5005 71.707,-18.113 46.983,18.0049 l 54.426,4.012 c 3.178,-24.3999 -1.907,-46.9653 -8.556,-69.1811 74.606,-129.7865 16.275,-260.9171 -159.232,-239.2757 z m 304.577,77.6312 c 31.169,0.036 93.222,5.1689 90.974,45.9765 -2.995,54.4098 -26.957,103.3297 -42.431,104.8269 -15.474,1.4977 -60.403,8.9841 -64.393,20.4652 l -1.496,-170.7165 c 0,0 6.957,-0.56 17.346,-0.5521 z"
					color="#000" overflow="visible" fill="#fff" paint-order="fill markers stroke"
					transform="translate(-16.58408,-18.875935) matrix(0.26458333,0,0,0.26458333,-3462.6915,-2200.6488)" />
				<path
					d="m 13588.823,9356.6178 c -6.359,-6.362 -9.54,-15.905 -9.54,-28.6286 0,-18.6316 -0.397,-19.086 -16.701,-19.086 -10.808,0 -16.701,2.2641 -16.701,6.4178 0,12.0176 -17.468,22.9516 -34.111,21.3537 -11.964,-1.1487 -17.51,-4.8597 -22.313,-14.9287 -5.014,-10.5132 -9.132,-13.0833 -19.12,-11.9289 -10.679,1.235 -12.49,3.5106 -11.251,14.144 1.864,16.017 -13.098,30.642 -35.682,34.879 -21.973,4.1222 -38.341,-6.5574 -42.288,-27.5908 -2.624,-13.9909 -5.368,-16.4275 -22.875,-20.3146 -23.69,-5.2591 -27.082,-14.5304 -14.482,-39.5594 10.829,-21.5101 39.597,-53.1294 48.343,-53.1294 4.24,0 5.5,-3.1827 3.607,-9.1414 -1.596,-5.0276 -0.641,-10.5382 2.122,-12.2459 4.466,-2.7595 4.08,-51.6855 -1.464,-186.1703 -0.772,-18.7632 -1.13,-19.126 -21.181,-21.4714 -11.219,-1.3123 -20.319,-4.533 -20.23,-7.1572 0.108,-3.0636 43.695,-4.6135 121.79,-4.3301 66.891,0.2434 121.622,-1.1673 121.622,-3.1334 0,-6.1097 -86.856,-10.4487 -169.314,-8.4583 -62.822,1.5166 -78.8,0.6327 -78.8,-4.3591 0,-3.444 3.757,-7.7057 8.349,-9.4707 7.007,-2.6932 6.43,-3.6645 -3.579,-6.0421 l -11.927,-2.8328 0.751,-89.7761 0.752,-89.7762 -19.84,3.166 c -38.216,6.0993 -54.015,24.3722 -60.453,69.905 -4.831,34.1701 -0.322,47.2934 16.19,47.2934 23.225,0 30.593,18.7028 26.918,68.3491 -1.11,14.9993 -51.968,30.1227 -59.627,17.7308 -1.556,-2.5175 -0.107,-8.9053 3.178,-14.1952 9.33,-14.9387 -0.866,-22.5525 -19.732,-14.7376 -16.837,6.9732 -19.056,16.9123 -4.624,20.687 15.671,4.0979 9.423,18.9286 -9.987,23.6974 -39.701,9.7548 -41.927,9.6324 -54.559,-3.0003 -16.584,-16.5821 -16.029,-36.596 1.571,-56.6389 13.487,-15.3628 13.731,-16.6089 11.433,-58.6161 -1.811,-33.0456 -0.501,-47.8588 5.694,-64.3908 4.423,-11.8093 9.254,-26.8393 10.732,-33.3999 6.405,-28.4483 100.114,-90.6576 136.562,-90.6576 6.699,0 14.168,-3.5521 16.597,-7.894 3.887,-6.9431 7.795,-7.2459 32.444,-2.5125 32.615,6.2629 210.402,14.8053 283.298,13.6122 47.631,-0.7794 51.75,-0.043 83.503,14.9724 38.459,18.1846 56.427,33.6236 70.469,60.5506 8.17,15.6631 10.009,28.0711 10.256,69.1862 0.287,45.5016 -0.919,52.5997 -13.029,77.3366 -11.692,23.8878 -12.837,30.0479 -9.315,50.1001 2.211,12.5748 2.837,29.305 1.395,37.1779 l -2.623,14.3143 -30.962,-1.6107 c -36.691,-1.9088 -42.231,-5.652 -33.234,-22.4609 8.7,-16.2575 1.489,-27.9216 -18.491,-29.9095 -16.722,-1.664 -18.973,4.3072 -9.479,25.1482 3.052,6.6951 4.251,13.4686 2.669,15.0518 -3.388,3.3875 -51.474,-7.6521 -58.076,-13.3327 -7.809,-6.7188 -15.728,-4.2803 -18.323,5.6423 -2.007,7.6793 -6.541,9.557 -23.217,9.6157 -13.377,0.047 -18.437,1.5237 -14.275,4.1626 4.623,2.9283 6.863,18.8584 7.898,56.0917 1.402,50.6244 7.217,94.0633 17.792,132.916 3.772,13.8627 11.276,23.8179 27.419,36.3766 17.646,13.731 24.446,23.3907 33.023,46.9166 5.941,16.294 9.373,31.0581 7.626,32.8091 -1.746,1.751 -11.04,5.3958 -20.652,8.0998 -16.425,4.6224 -17.381,5.9472 -15.985,22.1679 1.17,13.5728 -0.845,18.8834 -9.44,24.9051 -15.485,10.8445 -44.765,9.8658 -56.521,-1.8888 z m 47.649,-16.6204 c 3.937,-4.7405 0.369,-5.9171 -16.515,-5.4487 -22.563,0.6263 -26.904,4.3061 -13.756,11.6651 9.233,5.166 23.207,2.296 30.271,-6.2164 z m -200.16,-7.4108 c 5.346,-5.3446 8.409,-11.8322 6.813,-14.4171 -1.61,-2.607 -6.864,0.1253 -11.791,6.1384 -7.691,9.3766 -10.217,10.0282 -18.741,4.8336 -8.045,-4.9027 -9.856,-4.8297 -9.856,0.3975 0,15.6299 19.246,17.3766 33.575,3.0472 z m 85.714,-18.9118 c 0,-2.6245 -2.147,-4.7716 -4.774,-4.7716 -2.623,0 -4.77,2.1471 -4.77,4.7716 0,2.6242 2.147,4.7714 4.77,4.7714 2.627,0 4.774,-2.1472 4.774,-4.7714 z m 140.219,-39.2777 c -0.673,-22.3926 -6.334,-29.1365 -36.934,-44.0126 -22.71,-11.0403 -31.256,-12.1368 -113.642,-14.5845 -58.982,-1.7524 -90.112,-0.9805 -92.13,2.2853 -1.679,2.7125 -5.916,4.932 -9.419,4.932 -15.792,0 -56.352,53.431 -47.151,62.1137 7.21,6.8047 21.682,7.4556 161.44,7.2631 l 138.373,-0.1897 -0.537,-17.8059 z m -78.192,-74.2226 c 0,-5.7826 -51.66,-10.481 -115.706,-10.5232 -61.82,-0.043 -69.6,8.5328 -9.544,10.516 22.964,0.7583 60.539,2.0613 83.499,2.8958 23.44,0.8521 41.751,-0.4151 41.751,-2.8886 z m 17.109,-37.9931 c -1.771,-9.8411 -5.189,-38.8966 -7.593,-64.5683 -7.737,-82.6562 -5.787,-78.6296 -39.805,-82.1209 -16.146,-1.6565 -54.047,-2.3418 -84.225,-1.5223 l -54.871,1.4898 -0.655,77.5803 c -0.637,75.5929 -0.393,77.6395 9.545,79.894 12.743,2.8918 56.255,5.0315 126.527,6.221 l 54.302,0.9193 z m -69.596,-168.3929 c -34.483,-4.7674 -134.061,-4.582 -107.357,0.2004 10.499,1.8795 44.854,3.4193 76.345,3.4226 45.953,0 52.076,-0.7111 31.012,-3.6226 z m 255.804,-21.6869 c 5.74,-22.8754 -21.543,-47.9301 -55.264,-50.7496 -19.868,-1.6612 -24.993,9.0445 -6.441,13.4583 19.159,4.558 29.516,15.1062 32.984,33.5903 2.412,12.8514 5.26,16.0449 14.317,16.0449 8.181,0 12.16,-3.4107 14.404,-12.3439 z m -601.391,0.7561 c 3.751,-3.7492 6.817,-12.4427 6.817,-19.3189 0,-10.0844 3.923,-14.2836 20.277,-21.7077 32.543,-14.7713 60.836,-10.01 60.836,10.2369 0,5.6864 2.494,8.95 5.965,7.8052 9.884,-3.2597 17.073,-22.6602 13.438,-36.2506 -3.117,-11.6458 -5.501,-12.7244 -29.291,-13.2561 -25.555,-0.5708 -53.979,5.2698 -63.799,13.1104 -2.773,2.2134 -11.763,9.3992 -19.976,15.9684 -18.054,14.4367 -22.13,27.1954 -12.897,40.3771 8.192,11.693 9.723,11.9424 18.63,3.0353 z m 499.692,-19.6986 c -2.369,-14.6106 -1.307,-17.3504 7.651,-19.6933 11.702,-3.0597 11.183,-10.2329 -1.292,-17.8653 -6.757,-4.1336 -10.582,-2.5494 -19.994,8.2751 -17.961,20.6573 -13.477,46.2556 8.102,46.2556 6.832,0 7.805,-2.9802 5.533,-16.9721 z m -47.027,-4.3476 c -7.593,-5.744 -32.196,-7.033 -136.615,-7.1572 -77.86,-0.093 -128.475,1.6583 -130.236,4.5062 -1.818,2.9408 27.541,5.1835 79.642,6.0846 45.383,0.7845 108.159,1.9092 139.496,2.4993 50.984,0.9598 56.001,0.3364 47.713,-5.9329 z m -10.163,-26.1963 c 10.342,-9.7412 2.906,-210.1857 -8.134,-219.1833 -8.563,-6.9804 -252.73,-19.3222 -256.792,-12.9802 -7.379,11.5101 -6.459,232.1195 0.985,236.7201 6.488,4.0087 259.482,-0.3589 263.941,-4.5566 z m -203.374,-88.47 c -1.328,-41.9889 -3.933,-82.2479 -5.79,-89.4645 -2.87,-11.1573 -1.907,-13.1215 6.441,-13.1215 5.4,0 11.191,2.2226 12.869,4.9387 1.907,3.0848 28.063,4.6493 69.661,4.1677 36.633,-0.4241 67.653,0.2791 68.937,1.5592 1.281,1.2814 3.54,35.3706 5.021,75.7538 1.482,40.3832 4.885,76.0824 7.558,79.3318 7.726,9.3805 -2.076,10.7629 -85.21,12.0161 l -77.071,1.1616 z m 138.86,57.4176 c 3.517,-3.5646 4.083,-129.979 0.594,-133.2484 -3.79,-3.5535 -105.658,-7.5773 -117.374,-4.6364 l -11.802,2.9623 1.249,62.6094 c 0.687,34.4353 3.199,66.5884 5.579,71.451 3.954,8.0719 9.29,8.6434 61.347,6.5674 31.363,-1.2507 58.546,-3.818 60.407,-5.7053 z m -115.435,-6.056 c -6.28,-6.2833 -2.29,-15.5758 6.692,-15.5758 5.25,0 9.544,2.991 9.544,6.6465 0,7.1976 -11.591,13.5728 -16.236,8.9293 z m 83.034,-6.0332 c -5.636,-3.4833 -5.869,-5.58 -1.152,-10.2984 4.609,-4.6078 7.196,-4.6518 11.652,-0.1968 7.74,7.7408 -0.931,16.4106 -10.5,10.497 z m -83.781,-95.8866 c -5.043,-8.1584 10.868,-21.8808 17.581,-15.1653 2.992,2.9914 4.148,8.8041 2.569,12.9169 -3.299,8.6054 -15.387,9.9542 -20.15,2.2484 z m 81.14,0.043 c -1.764,-2.8529 -1.002,-7.3894 1.689,-10.0812 6.019,-6.0199 15.267,-0.9358 15.267,8.3928 0,8.0332 -12.279,9.256 -16.956,1.6884 z m -34.211,-56.6976 c -34.701,-1.6902 -64.439,-4.4185 -66.086,-6.0625 -1.642,-1.6443 -1.51,-5.3825 0.287,-8.3073 2.183,-3.5306 10.76,-4.1343 25.529,-1.7968 12.232,1.9367 43.68,3.6502 69.883,3.8076 41.447,0.2505 47.856,1.3731 49.259,8.6366 1.099,5.6795 -1.17,8.1015 -7.086,7.573 -4.784,-0.4277 -37.092,-2.1601 -71.797,-3.8506 z m 292.384,185.5264 c 5.261,-8.5138 -3.625,-13.0389 -28.886,-14.7079 -29.845,-1.9718 -33.592,6.1365 -6.22,13.4626 27.09,7.2506 31.302,7.4001 35.106,1.2453 z m -121.929,-6.742 c 3.267,-3.9364 11.942,-7.1572 19.278,-7.1572 21.772,0 27.193,-4.2313 41.801,-32.6133 15.485,-30.0801 22.982,-65.2021 14.98,-70.1481 -2.791,-1.7256 -6.835,-7.7598 -8.986,-13.4096 -4.512,-11.8498 -34.687,-21.3756 -64.69,-20.4219 -17.571,0.5586 -19.059,1.6483 -18.787,13.7281 0.179,7.217 0.701,41.0345 1.195,75.1502 0.49,34.116 2.777,62.029 5.082,62.029 2.301,0 6.86,-3.2208 10.127,-7.1572 z m -428.238,-19.8239 c 4.591,-1.26 8.349,-5.3668 8.349,-9.1264 0,-5.1736 -6.96,-6.8355 -28.629,-6.8355 -24.577,0 -28.628,1.2368 -28.628,8.7475 0,4.8114 1.46,10.2047 3.238,11.985 3.003,3.0028 26.145,0.5851 45.67,-4.7706 z m 559.786,-1.1069 c -1.438,-2.3267 -10.689,-5.7396 -20.562,-7.584 -9.87,-1.8444 -20.437,-5.413 -23.483,-7.9298 -5.7,-4.7087 -14.679,3.5041 -9.494,8.6863 7.476,7.476 57.916,13.9081 53.539,6.8275 z m 11.595,-31.7459 c 0,-12.8428 -12.843,-18.3846 -36.362,-15.6888 -23.107,2.6481 -19.668,15.7343 6.338,24.116 26.331,8.4873 30.024,7.451 30.024,-8.4272 z m -562.316,-2.1951 c 0.393,-2.6242 0.93,-7.1181 1.195,-9.9864 0.529,-5.813 -32.068,-18.4586 -47.874,-18.5703 -7.34,-0.05 -10.879,3.5857 -12.686,13.0375 -1.414,7.3991 -0.108,14.6414 3.023,16.6271 8.324,5.2963 55.522,4.3684 56.342,-1.1079 z m 566.274,-44.792 c 1.22,-10.6803 -0.04,-13.157 -5.626,-11.0156 -3.957,1.5191 -14.865,4.2009 -24.237,5.9587 -20.405,3.8284 -21.726,9.139 -3.919,15.7629 21.697,8.069 32.011,4.7996 33.782,-10.706 z m -557.765,0.5472 c -1.138,-0.8034 -10.191,-8.3542 -20.125,-16.7793 -9.931,-8.4254 -20.076,-15.3188 -22.542,-15.3188 -4.827,0 -20.967,28.2955 -17.893,31.3698 4.391,4.3906 54.13,9.5666 58.177,6.0543 2.448,-2.1257 3.521,-4.5223 2.383,-5.326 z m 9.863,-22.3891 c 0,-8.9432 -30.103,-38.7535 -37.665,-37.2973 -12.718,2.4491 -8.724,11.9624 11.42,27.2 20.19,15.272 26.245,17.6013 26.245,10.0973 z m 524.144,-0.633 c 16.912,-5.8954 18.451,-11.6071 7.382,-27.4087 l -7.643,-10.9132 -16.691,16.6912 c -23.393,23.3939 -15.821,33.056 16.952,21.6307 z m -503.102,-29.9198 c -1.707,-5.5937 -6.062,-17.4109 -9.687,-26.26 -6.22,-15.1975 -7.164,-15.7035 -17.059,-9.1343 -15.173,10.0759 -15.052,13.8659 1.077,33.434 15.806,19.1779 31.277,20.3592 25.669,1.9603 z m 482.282,-9.3293 c 9.601,-8.6974 9.597,-8.7067 -1.661,-17.8929 -15.345,-12.5226 -20.369,-11.551 -32.891,6.3616 l -10.757,15.3879 10.672,8.0507 c 11.261,8.4952 12.639,8.0221 34.637,-11.9073 z m -455.027,-16.5037 c -1.496,-25.4885 -5.061,-31.3108 -16.487,-26.9263 -10.743,4.1225 -9.988,20.1058 1.864,39.5483 12.175,19.9667 16.322,16.3856 14.623,-12.622 z m 31.863,-7.3787 c 1.299,-24.563 0.526,-27.0591 -8.352,-27.0591 -8.131,0 -9.77,3.0146 -9.716,17.8929 0.179,45.035 15.753,52.943 18.068,9.1662 z m 327.175,9.9198 c 1.582,-5.9046 2.906,-16.6815 2.942,-23.9482 0.07,-12.0201 -1.117,-12.9226 -13.055,-10.0011 -14.922,3.6516 -21.249,10.7547 -17.842,20.0251 1.284,3.4952 2.333,10.4734 2.333,15.5074 0,13.7761 21.868,12.4248 25.622,-1.5832 z m 47.474,-7.3819 c 10.578,-18.1674 10.313,-18.8086 -8.607,-20.8849 -12.489,-1.3699 -14.833,0.4305 -19.728,15.1452 -3.053,9.1852 -4.509,18.4333 -3.235,20.5515 5.07,8.4218 22.913,0.05 31.57,-14.8118 z m -96.951,-58.2299 c -3.936,-2.5415 -31.481,-4.654 -61.208,-4.694 -108.735,-0.1468 -188.334,-11.7063 -198.955,-28.8928 -3.203,-5.1839 -3.657,-83.9996 -0.726,-126.2519 1.485,-21.4117 2.834,-23.9103 13.176,-24.3748 6.341,-0.2827 35.682,-0.8212 65.205,-1.1927 l 53.679,-0.6756 v -17.3297 c 0,-9.5312 -4.512,-24.6278 -10.024,-33.5474 -19.857,-32.1288 -0.726,-51.4825 29.567,-29.9122 16.093,11.4604 17.961,25.7715 4.312,33.075 -9.555,5.1145 -11.799,17.3461 -6.678,36.4253 2.555,9.5229 6.864,10.4036 66.548,13.6004 38.204,2.0458 65.638,5.6194 68.358,8.9031 8.588,10.3664 -1.894,175.0358 -11.327,177.9928 -2.623,0.8224 -7.991,-0.584 -11.927,-3.1255 z m -25.05,-18.8319 c 21.249,-0.2112 25.05,-1.6104 25.05,-9.2224 0,-8.0382 -5.343,-9.2889 -51.295,-12.0068 -102.724,-6.0761 -163.899,-13.6613 -173.547,-21.5184 -8.202,-6.6762 -8.664,-9.5358 -3.779,-23.4833 3.074,-8.7905 4.287,-25.1446 2.712,-36.6275 -3.077,-22.462 1.443,-27.6474 18.351,-21.0474 11.473,4.4793 135.704,13.9131 183.213,13.9131 31.982,0 33.882,-0.6033 33.814,-10.7357 -0.107,-17.3812 -6.091,-22.2702 -33.574,-27.486 -34.383,-6.5252 -208.66,-6.7499 -216.458,-0.2791 -10.36,8.6004 -12.181,88.7437 -2.67,117.5663 5.894,17.8578 7.344,18.5091 57.147,25.6599 42.807,6.1462 69.016,7.7236 107.357,6.4604 15.746,-0.5189 39.901,-1.0557 53.679,-1.1928 z m 14.525,-61.0853 c 5.493,-31.7764 3.328,-34.6861 -25.261,-33.9664 -10.499,0.2648 -15.33,1.4622 -10.739,2.6621 12.689,3.3169 16.511,25.376 5.758,33.2396 -18.298,13.3789 -43.215,3.3499 -39.508,-15.9003 0.898,-4.6529 6.839,-11.0568 13.205,-14.2313 l 11.577,-5.7716 -11.616,-2.9069 c -14.662,-3.6676 -134.44,-11.0102 -139.257,-8.5363 -1.968,1.0113 -3.579,13.3506 -3.579,27.4209 0,29.1285 -3.775,26.9277 61.742,35.9751 19.524,2.6964 36.523,5.9257 37.775,7.1764 1.253,1.2511 23.175,2.2746 48.719,2.2746 h 46.446 z m -175.679,-3.7199 c -9.269,-11.1699 1.327,-30.8732 16.604,-30.8732 15.886,0 30.293,20.6409 21.665,31.0385 -7.694,9.2699 -30.522,9.1715 -38.269,-0.1646 z m 133.717,-6.7342 c 0,-2.4692 -2.147,-5.817 -4.77,-7.4388 -2.627,-1.6218 -4.774,0.3983 -4.774,4.49 0,4.0911 2.147,7.4385 4.774,7.4385 2.623,0 4.77,-2.0201 4.77,-4.4897 z m -62.028,-162.5105 c 0,-2.6245 -3.22,-4.7716 -7.157,-4.7716 -3.936,0 -7.157,2.1471 -7.157,4.7716 0,2.6242 3.221,4.7714 7.157,4.7714 3.937,0 7.157,-2.1472 7.157,-4.7714 z"
					fill="#030303"
					transform="translate(-16.58408,-18.875935) matrix(0.26458333,0,0,0.26458333,-3462.6915,-2200.6488)" />
			</svg>

			<h1><%= t('response3.title') %></h1>
			<h2><%= t('response3.subtitle1') %></h2>
			<p><%= t('response3.p1') %></p>
			<h2><%= t('response3.subtitle2') %></h2>
			<p><%= t('response3.p2') %></p>
			<p><%= t('response3.p3') %></p>
			
			<div>
				<button class="marginRight" onclick="window.location.href='/response1'"><%= t('actions.continue') %></button>
				<button class="marginRight" onclick="window.location.href='/response1low'"><%= t('actions.continueHC') %></button>
				<button class="marginRight" onclick="window.location.href='/response2'"><%= t('actions.continueER') %></button>
			</div>
		</article>
	</section>
	<footer>
		<a href="\privacy_policy"><%= t('footer.privacy_policy') %></a>
		<span><%= t('footer.imagesFrom') %> <a href="https://cocomaterial.com/" target="_blank">Cocomaterial</a></span>
	</footer>
	<script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
	<df-messenger
		id="botMSN"
		class="botHide <%= high_contrast ? 'highContrast' : '' %>"
		chat-icon="images/chatbot64.png"
		intent="WELCOME"
		chat-title="COVIBot"
		agent-id="99eb627f-4948-4ea8-93c2-921fff46ac88"
		language-code="<% if (lng === 'en') { %>en<% } else { %>es<% } %>"
	></df-messenger>
	<script>
		function toggleBot(){
			var botMSN = document.getElementById("botMSN");
			if(botMSN.classList.contains("botHide")){
				botMSN.classList.remove("botHide");
			}else{
				botMSN.classList.add("botHide");
			}
		}
	</script>
</body>

</html>